@import './../../styles/global-styles.scss';

.my-favourites__container{
    width: 100vw;
    height: 100vh;
    background-color: $darkBlue;

    h2{
        margin-top: 100px;
        margin-left: 30px;
        @include text(30px, 600);
        color: $white;
    }

    .favourites__filter{
        margin-left: 50px;
        margin-top: 20px;
        
        button{
            all: unset;
            cursor: pointer;
            margin-right: 5px;
            padding: 5px 10px;
            color: $white;
            border-radius: 5px;
            @include text(16px, 700);
            @include gradient();

            &:hover{
                transition: 0.3s;
                @include gradientHover();
            }
        }
    }

    .favourites__list{
        padding: 20px; 
        width: 95%;
        @include display(row, center, flex-start);
        flex-wrap: wrap;

        .movie__card{
            margin: 5px;
            padding: 5px;
            width: 160px;
            height: 270px;
            background-color: $white;
            color: $black;
            border-radius: 5px;
            @include display(column, space-between, center);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
            position: relative;

            div{
                @include display(row, space-between, center);
               width: 90%;

                h4{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 150px;
                    @include text(15px, 500); 
                }

                .movie__menu{
                    all: unset;
                    cursor: pointer;
                    width: 50px;
                    text-align: end;
                }

                .movie__menu:hover + .movie__dropdown{
                    transform: scaleY(1);
                }
               
                .movie__dropdown{
                    position: absolute;
                    top: 25px;
                    right: 0;
                    z-index: 1;
                    width: 100px;
                    height: 60px;
                    background-color: $white;
                    border-radius: 5px;
                    @include display(column, space-between, flex-start);
                    transform: scaleY(0);
                    transform-origin: top;
                    transition: 0.5s;

                    &:hover{
                        transform: scale(1);
                    }

                    li{
                        width: 100%;

                        button{
                            all: unset;
                            cursor: pointer;
                            @include text(15px, 400);
                            width: 100%;
                            padding: 5px;

                            &:hover{
                                color: $white;
                                background-color: $darkBlue;
                            }
                        }
                    }
                }
            }

            img{
                width: 150px;
                height: 220px;
                border-radius: 5px;
                object-fit: cover;
            }

            .watched,
            .pending{
                @include text(15px, 700);
            }

            .watched{
                color: $green;
            }
            .pending{
                color: $red;
            }
        }
    }
}